<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Multi User Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Multi User Blog
  </a>

  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">Logout</a>)
    {% else %}
      <a class="login-link" href="/login">Login</a>
      |
      <a class="login-link" href="/signup">Sign up</a>
    {% endif %}
  </div>

  <div id="content">
    <a class="gray-label" href="/blog/newpost">New post</a>
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>

